.App {
  text-align: center;
}

.student-page-container {
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.nav-bar li {
  border: solid 1px black;
  min-width: 34%;
}

.student-list {
  list-style-type: none;
  min-width: 40%;
  max-width: 45%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.accom-section {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  min-width: 45%;
  max-width: 45%;
  border: 1px solid black;
}