.App {
  text-align: center;
}

.student-list {}

.student-page-container {
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  height: 26px;
  margin-top: 10px;
}

.nav-bar li {
  border: solid 1px black;
  min-width: 34%;
  min-height: 30px;
  font-size: 18px;
}

.student-list {
  margin: 3px;
  padding: 3px;
  text-align: -webkit-center;
}

.student-list .card {
  min-width: 50%;
}

.accomodations {
  text-align: -webkit-center;
}

.accomodations .card {
  min-width: 50%;
}

.accomodations .card .content {
  border: solid 1px blue;
}

.items {
  width: 50%;
  background-color: #185632;
  color: white;
}

.item:hover {
  color: white;
}

.item {
  color: white;
  font-size: 18px;
}

.active {
  color: white;
}